<% if(@ans.present? && @show_ans) %>
<% if(@options.present?) 
   total = @ans.size   
   h = {}
   text_ans = []
   for a in @ans
     if(a.value.to_i != 0) 
       if(!(h.has_key? a.value.to_i))
         h[a.value.to_i] = 0
       end
       h[a.value.to_i] += 1
     else
       text_ans << a if(a.value.present?)
       if(!(h.has_key? -100))
         h[-100] = 0
       end
       h[-100] += 1
     end
   end
   o = {}
   for opt in @options
     o[opt.id] = opt.content
   end   
   o[-100] = "Other"		   
%>
<hr>      
<span class="lead">Based on <b><%= @ans.size %></b> response</span>
<div class="sp30"></div>      
<script type="text/javascript">
  function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Answer', 'count'],
  <% h.each do|key, value| %>    
  ['<%= o[key] %>', <%= value %>],  
  <% end %>
  ['', 0]
  ]);    
  var options = {
  <% if(@mobile) %>
  'width':320,
  'height':200
  <% else %>
  'width':650,
  'height':400
  <% end %>
  };  
  var chart = new google.visualization.PieChart(ele('res-chart'));
  chart.draw(data, options);
  }  
</script>
<% if(@mobile) %>
  <div id="res-chart" style="width:400px;margin:0px auto;"></div>
<% else %>
  <div id="res-chart" style="width:650px;margin:0px auto;"></div>
<% end %>
<% if(text_ans.present?) %>
<div class="sp20"></div>
<span class="lead">Other&nbsp;answers</span>
<hr style="width:50%;margin-top:10px;">
<% for a in text_ans %>
<%= render(:partial => "ans_show", :locals => {:a => a}) %>
<% end %>
<% end %>
<div class="sp50"></div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- SocialShade Banner ad1 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-3833946424381349"
     data-ad-slot="5732836094"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>      
<% else %>
<div class="sp20"></div>
<hr>
<div class="sp20"></div>
<span class="lead">Showing&nbsp;&nbsp;<b><%= @ans.size %></b>&nbsp;&nbsp;answer</span>
<hr style="width:50%;margin-top:10px;">
<% for a in @ans %>
<%= render(:partial => "ans_show", :locals => {:a => a}) %>
<% end %>
<div class="sp10"></div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- SocialShade Banner ad1 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-3833946424381349"
     data-ad-slot="5732836094"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>      
<% end %>
<% end %>
<% if(!@show_ans && !@ans.nil? && !@ans.blank?) %>
<div class="sp50"></div>
<span class="lead"><b><%= @ans.size %></b> response so far, answer first to see result</span>
<% end %>

<% if(!@show_ans && (@ans.nil? || @ans.blank?)) %>
<div class="sp50"></div>
<span class="lead">No answer so far, be the first to answer</span>
<% end %>


<% if(!@wrong_ans.nil?) %>
<div class="sp50"></div>
<span class="lead">Your answer is not appropriate, please <a href="<%= answer_url(@qu.id) %>">retry</a></span>
<% end %>
