<% if(@mobile) %>
<style>
  body {
    overflow: auto;
    overflow-x: hidden;
  }  
</style>
<% end %>
<div style="width:100%;padding:0.8em;text-align:center">
  <span class="lead" style="color:#ffffff;">
    <%= @qu.text %>	    
  </span>
  <div class="sp20"></div>
  <div id="qu-like-m" style="min-height:60px;">
    <span class="pointer qu-lke fa fa-thumbs-up" onclick="likeObj(<%= @qu.id %>,1,'qu-like-m');"></span>
    <span class="pointer qu-lke fa fa-thumbs-down" onclick="unlikeObj(<%= @qu.id %>,1,'qu-like-m');"></span>
  </div>  
</div>
<% if(@options.present?) %>
<div class="sp20"></div>
<section id="qu-opt" style="text-align:left">
  <form class="ac-custom ac-radio ac-fill" autocomplete="off">
    <ul>
      <% all_ans = @options.map{|a| a.id }
	 for opt in @options %>	  
      <li onclick="submitOptAns(<%= opt.id %>, [<%= all_ans.join(',') %>]);"><input type="radio">
	<label><%= opt.content %></label>
      </li>
      <% end %>
      <li onclick="submitDiffAns();"><input type="radio">
	<label>I have somthing else to say</label>
      </li>
    </ul>
  </form>
</section>
<% else %>
<div id="qu-txt" <% if(@options.present?) %>style="display:none;"<% end %>>
  <div class="txt-ans-div" style="padding:0px 10px;">
    <div class="sp20"></div>
    <div style="position:relative;">
      <div id="ans-txt" class="m-null" contenteditable="true" placeholder="Write your answer"></div>	    	    
      <select id="lang-sel" onchange="googleTranslationTextbox('ans-txt', this.value)">
	<%= render(:partial => "lang_list") %>
      </select>
    </div>
    <div class="sp20"></div>
  </div>
  <div class="sp20"></div>
  <center>
    <input type="button" class="btn btn-4 btn-4a m-null" style="font-size:1.5em;padding:1em;" onclick="saveTextAnswer();" value="Submit&nbsp;Your&nbsp;Opinion" />
  </center>
</div>	  
<% end %>
<div id="ans-list" class="p-10" style="text-align:center;">
  <%= render(:partial => "ans_list") %>
</div>
<div class="sp50"></div>
<div class="sp30"></div>
<% if(false) %>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- social shade mobile responsive 1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3833946424381349"
     data-ad-slot="5966508492"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<% end %>
<%= render(:partial => "ans_header") %>
