<div id="footer-pane" class="ans-header">
  <% if(@mobile) %>
  <table style="width:100%;">
    <tr>
      <td style="width:50%;padding-right:5px;">
	<a href="<%= ask_url %>" onclick="showTrans();" class="btn btn-block btn-danger">Ask&nbsp;Question</a>
      </td>
      <td style="width:50%;padding-left:5px;">
      <% if(@next.nil?)
	 next_url = root_path
	 else
	 next_url = answer_url(@next)
	 end %>      
	<a href="<%= next_url %>" onclick="showTrans();" class="btn btn-block btn-success">Next&nbsp;Question</a>
      </td>
    </tr>
  </table>  
  <% if(!@noti.nil? && !@noti.blank?) %>
  <div class="menu-icon-m" onclick="ele_show('noti-m');">
    <img class="img-circle" src="/assets/noti.png"/>	  
    <div class="noti-icon-m"><%= @noti.size %></div>
  </div>
  <div id="noti-m" style="display:none;">  
    <% 
       begin
       @noti = @noti.sort{|a,b| b[2] <=> a[2]}
       rescue 
       end
       @noti.each do|n| %>
    <% if(n[0].present?) %>
    <a href="<%= answer_url(n[0]) %>">
      <% end %>
      <div class="ss-menu-item">
	<%= n[1] %>
	<% if(n[2].present?) %>
	<div class="sp1"></div>
	<div style="color:#898C90;font-size:12px;"><%= time_ago_in_words(n[2]) %> ago</div>
	<% end %>
      </div>
      <% if(n[0].present?) %>
    </a>
    <% end %>
    <% end %>
    <div class="sp100"></div>
    <div class="ans-header">
      <table style="width:100%;">
	<tr>
	  <td style="width:50%;padding-right:5px;">
	    <a href="Javascript:void(0);" onclick="ele_hide('noti-m');" class="btn btn-block btn-danger">Back&nbsp;To&nbsp;Question</a>
	  </td>
	  <td style="width:50%;padding-left:5px;">
	    <a href="<%= ask_url %>" onclick="showTrans();" class="btn btn-block btn-success">Ask&nbsp;Question</a>
	  </td>
	</tr>
      </table>        
    </div>
  </div>
  <% end %>    
  <% else %>
  <table style="width:100%;">
    <tr>
      <td style="width:250px;">
	<div style="position:relative;">	  
	  <img class="img-circle menu-icon" src="/assets/prof.jpg" onclick="closeAllMenu();ele_toggle('prof-menu');" style="height:45px;"/>
	  <div id="prof-menu" class="ss-menu" style="left:20px;display:none;">
	    <div class="ss-menu-item" onclick="window.open('<%= show_profile_url %>','_self')">
	      Profile
	    </div>
	    <% if(@uid) %>
	    <a href="mailto:youremail?subject=Your profile at socialshade.com&body=Click here to get your session on socialshade <%= keep_profile_url(@uid) %>">
	      <div class="ss-menu-item">
		Email profile
	      </div>
	    </a>
	    <% end %>
	    <div class="ss-menu-item" onclick="clearProfile()">
	      Clear Profile
	    </div>
	  </div>
	  <img class="img-circle menu-icon" src="/assets/noti.png" onclick="closeAllMenu();ele_toggle('noti-menu');"/>	  
	  <% if(!@noti.nil? && !@noti.blank?) %>
	  <div class="noti-icon"><%= @noti.size %></div>
	  <div id="noti-menu" class="ss-menu" style="display:none;">	    
	    <% 
	       begin
	       @noti = @noti.sort{|a,b| b[2] <=> a[2]}
	       rescue 
	       end
	       @noti.each do|n| %>
	    <% if(n[0].present?) %>
	    <a href="<%= answer_url(n[0]) %>">
	      <% end %>
	      <div class="ss-menu-item">
		<%= n[1] %>
		<% if(n[2].present?) %>
		<div class="sp1"></div>
		<div style="color:#898C90;font-size:12px;"><%= time_ago_in_words(n[2]) %> ago</div>
		<% end %>
	      </div>
	      <% if(n[0].present?) %>
	    </a>
	    <% end %>
	    <% end %>
	  </div>
	  <% end %>
	</div>
      </td>
      <td>
	<center>
	  <a href="<%= ask_url %>" class="btn btn-lg btn-danger" style="width:300px;padding-top:5px;padding-bottom:5px;font-size: 25px;">Ask Your Question</a>
	</center>
      </td>
      <td style="width:250px;">
	<form class="navbar-form navbar-left p-null pull-right" action="<%= search_url %>" role="search">
	  <div class="form-group" style="width:200px;">
	    <div class="input-group">
              <input class="form-control" name="query" type="search" placeholder="Search Question">
              <span class="input-group-btn">
		<button type="submit" class="btn"><span class="fui-search"></span></button>
              </span>
	    </div>
	  </div>
	</form>	
      </td>
      <td style="width:50px;">	
	<img class="img-circle menu-icon" src="/assets/help.png" onclick="closeAllMenu();ele_toggle('help-menu');" style="background:#ffffff;margin:0px 20px;"/>
	<div id="help-menu" class="ss-menu" style="right:20px;display:none;">
	  <a href="<%= how_to_url %>">
	    <div class="ss-menu-item">
	      How to use
	    </div>
	  </a>
	  <a href="<%= terms_url %>">
	    <div class="ss-menu-item">
	      Terms of usage
	    </div>
	  </a>
	  <a href="<%= privacy_url %>">
	    <div class="ss-menu-item">
	      Privacy
	    </div>
	  </a>
	  <a href="https://www.facebook.com/socialshade">
	    <div class="ss-menu-item">
	      Friend us on Facebook
	    </div>
	  </a>
	  <a href="https://twitter.com/ShadeOfSocial">
	    <div class="ss-menu-item">
	      Follow us on Twitter
	    </div>
	  </a>
	</div>
      </td>
    </tr>
  </table>
  <div style="clear:both"></div>
  <% end %>
</div>














<% if(false) %>
<form action="http://www.google.co.in" id="cse-search-box">
  <div>
    <input type="hidden" name="cx" value="partner-pub-3833946424381349:6481212499" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" size="55" />
    <input type="submit" name="sa" value="Search" />
  </div>
</form>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">google.load("elements", "1", {packages: "transliteration"});</script>
<script type="text/javascript" src="http://www.google.com/cse/t13n?form=cse-search-box&t13n_langs=ta%2Cpa%2Cel%2Cam%2Cml%2Car%2Cgu%2Cmr%2Cru%2Cte%2Cti%2Csa%2Cne%2Chi%2Cbn%2Cen%2Ckn%2Cfa%2Csr%2Cur"></script>
<script type="text/javascript" src="http://www.google.co.in/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
<% end %>
