<% if(@ans.present? && @show_ans) %>
<% if(@options.present?) 
   total = @ans.size   
   h = {}
   for a in @ans
     if(!(h.has_key? a.value.to_i))
       h[a.value.to_i] = 0
     end
     h[a.value.to_i] += 1
   end
   o = {}
   for opt in @options
     o[opt.id] = opt.content
   end   
%>
<% if(@mobile) %>
<% else %>
<div class="sp10"></div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- SocialShade Banner ad1 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-3833946424381349"
     data-ad-slot="5732836094"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="sp20"></div>      
<% end %>
<span class="lead">Based on <b><%= @ans.size %></b> response</span>
<script type="text/javascript">
  function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Answer', 'count'],
  <% h.each do|key, value| %>    
  ['<%= o[key] %>', <%= value %>],  
  <% end %>
  ['', 0]
  ]);    
  var options = {
  <% if(@mobile) %>
  'width':320,
  'height':200
  <% else %>
  'width':600,
  'height':400
  <% end %>
  };  
  var chart = new google.visualization.PieChart(ele('res-chart'));
  chart.draw(data, options);
  }  
</script>
<% if(@mobile) %>
  <div id="res-chart" style="width:400px;margin:0px auto;"></div>
<% else %>
  <div id="res-chart" style="width:650px;margin:0px auto;"></div>
<% end %>
<% else %>

<div class="sp10"></div>
<span class="lead">Showing&nbsp;&nbsp;<b><%= @ans.size %></b>&nbsp;&nbsp;answer</span>
<hr style="width:50%;margin-top:0px;">
<% for a in @ans %>
  <span class="lead" style="font-size:22px;"><%= raw a.value %></span>
  <div class="sp1"></div>
  <span class="lead" style="font-size:14px;"><%= time_ago_in_words(a.created_at) %> ago</span>
  <div id="ansl-<%= a.id %>" class="ans-lke">
    <img class="pointer" src="/assets/slike.png" onclick="likeObj(<%= a.id %>,2,'ansl-<%= a.id %>');"/>
    <img class="pointer" src="/assets/sunlike.png" onclick="unlikeObj(<%= a.id %>,2,'ansl-<%= a.id %>');" style="margin-left:5px;"/>
  </div>
  <hr style="width:30%;margin-top:10px;">
<% end %>

<% end %>
<% end %>
<% if(!@show_ans && !@ans.nil? && !@ans.blank?) %>
<div class="sp50"></div>
<span class="lead"><b><%= @ans.size %></b> response so far, answer first to see result</span>
<% end %>

<% if(!@show_ans && (@ans.nil? || @ans.blank?)) %>
<div class="sp50"></div>
<span class="lead">No answer so far, be the first to answer</span>
<% end %>


<% if(!@wrong_ans.nil?) %>
<div class="sp50"></div>
<span class="lead">Your answer is not appropriate, please <a href="<%= answer_url(@qu.id) %>">retry</a></span>
<% end %>
