<table onclick="closeAllMenu();" style="width:100%;height:100%;">
  <tr>
    <td style="text-align:center;vertical-align: top;">
      <div id="qu-div">
	<div class="p-10">
	  <div class="sp10"></div>
	  <img src="/assets/wquote.png" style="width:45px;margin-top:-45px;"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <span class="lead" style="color:#ffffff;font-size:45px;">
	    <%= @qu.text %>
	  </span>
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/assets/wquote-r.png" style="width:45px;"/>
	  <div class="sp10"></div>
	</div>
	<% if(@options.present?) %>
	<div class="sp30"></div>
	<center id="qu-opt">
          <% all_ans = @options.map{|a| a.id }
	     for opt in @options %>
	  <div class="lead opt-body pointer" style="width:80%;" onclick="submitOptAns(<%= opt.id %>, [<%= all_ans.join(',') %>]);">
	    <div id="<%= opt.id %>-icon" class="pull-left unchecked">&nbsp;</div>
	    <div class="pull-left opt-txt"><%= opt.content %></div>
	    <div style="clear:both;"></div>
	  </div>
          <% end %>
	  <div class="sp20"></div>
	</center>
	<% else %>
	<div id="qu-txt">
	  <div class="sp20"></div>
	  <div style="position:relative;">
	    <div id="ans-txt" class="lead m-null" contenteditable="true" placeholder="Write your answer"></div>	    	    
	    <select id="lang-sel" onchange="googleTranslationTextbox('ans-txt', this.value)">
	      <%= render(:partial => "lang_list") %>
	    </select>
	  </div>
	  <div class="sp20"></div>
	  <input type="button" class="btn btn-block btn-success" style="font-size:2em" onclick="saveTextAnswer();" value="Submit Your Opinion" />
	</div>
	<% end %>
      </div>
      <div id="ans-list" class="p-10">
	<%= render(:partial => "ans_list") %>
      </div>
      <div style="clear:both"></div>
      <div class="sp50"></div>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- SocialShade Banner ad1 -->
      <ins class="adsbygoogle"
	   style="display:inline-block;width:728px;height:90px"
	   data-ad-client="ca-pub-3833946424381349"
	   data-ad-slot="5732836094"></ins>
      <script>
	(adsbygoogle = window.adsbygoogle || []).push({});
      </script>      
      <div class="sp50"></div>
    </td>
    <td class="right-arrow">
      <% if(@next.nil?)
	 next_url = root_path
	 else
	 next_url = answer_url(@next)
	 end %>
      <a href="<%= next_url %>">
	<div id="nxtbtn" class="right-arrow">
	  <div class="sp200"></div>
	  <div class="sp50"></div>
	  <center>
	    <img style="margin-left:20px;" src="/assets/right.png" />
	  </center>
	  <div class="sp500"></div>
	  <div class="sp100"></div>
	</div>
      </a>
    </td>
  </tr>
</table>
<%= form_remote_tag :url => submit_ans_url(@qu.id),                              
                    :loading => "showTrans();",                     
                    :complete => "afterSave();",
                    :failure => "alert('Error in saving, please refresh to retry');",
                    :update => "ans-list",                                 
                    :html => {:id => "save-ans-form"}  
%>          
<input type="hidden" id="ans" name="ans" /> 
<input type="hidden" id="buid" name="uid" value=""/> 
<%= end_form %>

<%= render(:partial => "ans_header") %>

<script type="text/javascript">
  window.onload = function() {
  getBuid("soclshd");
  $("#nxtbtn").height($(window).height());
  if(ele("ans-txt") != null) {
    ele("ans-txt").focus();	    
    setPasteEvent("ans-txt");
  }  
  drawChart();
  };
</script>
