<div class="ans-header">
  <form class="navbar-form navbar-left p-null" action="<%= search_url %>" role="search">
    <div class="form-group" style="margin-top:5px;width:250px;">
      <div class="input-group">
        <input class="form-control" name="query" type="search" placeholder="Search Question">
        <span class="input-group-btn">
          <button type="submit" class="btn"><span class="fui-search"></span></button>
        </span>
      </div>
    </div>
  </form>
  <a href="<%= ask_url %>" class="btn btn-lg btn-danger pull-right">Ask Your Question</a>
  <div style="clear:both"></div>
</div>
