<%= render(:partial => "ans_header") %>
<table style="width:100%;height:100%;">
  <tr>
    <td class="p-10" style="text-align:center;vertical-align: top;">
      <div class="sp10"></div>
      <img src="/assets/quote.png" style="width:50px;"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="lead" style="color:#5AD427">
	<%= @qu.text %>
      </span>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/assets/quote-r.png" style="width:50px;"/>
      <% if(@options.present?) %>
      <div class="sp30"></div>
      <center>
        <% all_ans = @options.map{|a| a.id }
	   for opt in @options %>
	<div class="lead opt-body pointer" style="width:80%;" onclick="submitOptAns(<%= opt.id %>, [<%= all_ans.join(',') %>]);">
	  <div id="<%= opt.id %>-icon" class="pull-left unchecked">&nbsp;</div>
	  <div class="pull-left opt-txt"><%= opt.content %></div>
	  <div style="clear:both;"></div>
	</div>
        <% end %>
      </center>
      <% else %>
      <div class="sp20"></div>
      <div id="ans-txt" class="lead m-null" contenteditable="true" placeholder="Write your answer"></div>	    
      <div class="sp20"></div>     
      <hr>
      <input type="button" class="btn btn-lg btn-success" onclick="saveTextAnswer();" value="Submit Your Answer" />
      <script type="text/javascript">
	window.onload = function() {
	ele("ans-txt").focus();
	};
      </script>
      <% end %>
      <div id="ans-list">
	<%= render(:partial => "ans_list") %>
      </div>
      <div style="clear:both"></div>
      <div class="sp50"></div>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- SocialShade Banner ad1 -->
      <ins class="adsbygoogle"
	   style="display:inline-block;width:728px;height:90px"
	   data-ad-client="ca-pub-3833946424381349"
	   data-ad-slot="5732836094"></ins>
      <script>
	(adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </td>
    <td class="right-arrow">
      <a href="<%= answer_url(@next) %>">
	<div class="sp200"></div>
	<center>
	  <img style="margin-left:20px;" src="/assets/right.png" />
	</center>
	<div class="sp200"></div>
	<div class="sp100"></div>
      </a>
    </td>
  </tr>
</table>
<%= form_remote_tag :url => submit_ans_url(@qu.id),                              
                    :loading => "showTrans();",                     
                    :complete => "hideTrans();drawChart();",
                    :failure => "alert('Error in saving, please refresh to retry');",
                    :update => "ans-list",                                 
                    :html => {:id => "save-ans-form"}  
%>          
<input type="hidden" id="ans" name="ans" /> 
<%= end_form %>
