<%= form_remote_tag :url => change_expire_url(@qu.id),                              
                    :loading => "",                     
                    :complete => "afterExpireSave();",
                    :failure => "alert('Error in saving, please refresh to retry');",
                    :update => "qu-final-res",                                 
                    :html => {:id => "change-qu-expire-form"}  
%>          
<input type="hidden" id="exp-val" name="exp" value="100" /> 
<%= end_form %>
