<div class="qheader">
  <ul>
    <li>
      <a href="<%= trending_url %>">
	<i class="fa fa-line-chart"></i>&nbsp;&nbsp;trending
      </a>
    </li>
    <li>
      <a href="<%= latest_url %>">
	<i class="fa fa-clock-o"></i>&nbsp;&nbsp;latest
      </a>
    </li>
    <li style="width:70px;">
      <a href="<%= most_liked_url %>">
	<i class="fa fa-thumbs-up"></i>&nbsp;&nbsp;qus
      </a>
    </li>
    <li style="width:60px;">
      <a href="<%= most_unliked_url %>">
	<i class="fa fa-thumbs-down"></i>&nbsp;&nbsp;qus
      </a>
    </li>
    <li style="width:130px;">
      <a href="<%= unanswered_url %>">
	<i class="fa fa-bomb"></i>&nbsp;&nbsp;unanswered
      </a>
    </li>
    <li style="float:right;width:160px;">
      <a href="https://twitter.com/ShadeOfSocial">
	<i class="fa fa-twitter"></i>&nbsp;/&nbsp;ShadeOfSocial
      </a>        
    </li>
    <li style="float:right;width:140px;">
      <a href="https://www.facebook.com/socialshade">
	<i class="fa fa-facebook"></i>&nbsp;/&nbsp;AnonymousWeb
      </a>    
    </li>
  </ul>
  <div style="clear:both;"></div>
</div>
