<%
  cls_str = "btn-lg"
  m_str = "m-10" 
  if(@mobile)  
  cls_str = "btn-block"
  m_str = "" 
  end
%>
<% if(!@mobile) %>  
<div id="qu-exp-pref">
  <center>
    <div class="sp30"></div>
    <h2 class="lead m-null">Last Step, Tell us about your preference about your question</h2>
    <div class="sp20"></div>
  </center>
  <div style="padding:10px 50px;">
    <section style="text-align:left;">
      <form autocomplete="off" class="ac-custom ac-radio ac-fill">
	<ul>
	  <% Qu::EXPIRE_TEXT.each do|key,value| %>
	  <li onclick="saveExpireSave(<%= key %>);"><input type="radio">
	    <label><%= value  %></label>
	  </li>
	  <% end %>
	</ul>
      </form>
    </section>
  </div>
</div>
<%= render(:partial => "expire_form") %>
<div id="qu-final-res"></div>
<% end %>



<% if(!@mobile && false) %>  
<center>
  <div class="sp20"></div>
  <h2 class="lead m-null"><a href="<%= answer_url(@qu.id) %>" style="color:#ffffff;">Your question</a> will be answered by our appropriate anonymous users, you will get notification for new answers when you comeback</h2>
  <div class="sp20"></div>
</center>

<ul class="infoul">
  <li>
    <a href="mailto:youremail?subject=Track this question&body=Hi, You want to track this question for answers <%= answer_url(@qu.id) %>" title="Email question url for tracking">Email Question Detail</a>
  </li>
  <% if(false) %>
  <li>
    <p id="addBookmarkContainer"></p>
  </li>
  <% end %>
  <li>
    <a href="https://chrome.google.com/webstore/detail/social-shade/logflbglfompolhfemknjbijpfdiadeo">Get Chrome Extension to get Notify </a>
  </li>
  <li>
    <a href="https://play.google.com/store/apps/details?id=com.killermobi.socialshade">Get Android Application</a>
  </li>
</ul>
<% end %>

<center>
  <% if(!@mobile) %>

  <% if false %>
  <div class="sp20"></div>
  <span class="lead m-null">URL for this question</span>
  <div class="sp10"></div>
  <h1 class="m-null save-qu-id"><%= answer_url(@qu.id) %></h1>
  <div class="sp30"></div>
  <span class="lead m-null">Check in few hour to find your answer</span>
  <div class="sp20"></div>  
  <a href="<%= answer_url(@qu.id ) %>" class="btn btn-4 btn-4a btn-lnk" title="Save question detail in your browser for future">Answer This Question</a>
  <div class="sp5"></div>  
  <a href="<%= ask_url %>" class="btn btn-4 btn-4a btn-lnk">Ask More Question</a>
  <% end %>


  <% else %>
  <span class="lead m-null">Check in few hour to find your answer</span>
  <div class="sp30"></div>
  <a href="<%= answer_url(@qu.id ) %>" class="btn btn-4 btn-4a btn-lnk m-null" style="padding:20px 30px;font-size:1.2em;" title="Save question detail in your browser for future">Answer&nbsp;This&nbsp;Question</a>
  <% end %>
</center>

<% if(false) %>
<script type="text/javascript">
  addBookmarkObj.URL = "<%= answer_url(@qu.id)%>";    
  addBookmarkObj.title= "<%= @qu.text %> - SocialShade";
  addBookmarkObj.addTextLink();
</script>
<% end %>
