<%= render(:partial => "qheader") %>
<div class="codrops-header p-30" style="width:100%;text-align:center;">
  <div class="sp10"></div>
  <h1>Contact Us</h1>
  <hr style="width:50%;">
  <span class="lead">
    SocialShade is an initiative to seek answers to those question we want answer but can't even ask. It is completely anonymous and all questions are asked by our anonymous users. Please contact us on our social channel
  </span>
  <div class="sp30"></div>
  <span class="lead" style="font-size:50px;">
    <a href="https://twitter.com/ShadeOfSocial"><i class="fa fa-twitter"></i>&nbsp;/&nbsp;ShadeOfSocial</a>
    <br>
    <a href="https://www.facebook.com/socialshade"><i class="fa fa-facebook"></i>&nbsp;/&nbsp;AnonymousWeb</a>
  </span>
  <div class="sp50"></div>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- SocialShade Banner ad1 -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:728px;height:90px"
       data-ad-client="ca-pub-3833946424381349"
       data-ad-slot="5732836094"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>      
  <div class="sp20"></div>
  <%= render(:partial => "footer_links") %>
  <div class="sp20"></div>  
</div>
