<%= render(:partial => "qheader") %>
<center>
  <div class="sp50"></div>
  <h2 class="lead m-null">How to get notify on SocialShade</h2>
  <div class="sp20"></div>
  <ul class="lead m-null">  
    <li><a style="color:#ffffff;" href="https://chrome.google.com/webstore/detail/social-shade/logflbglfompolhfemknjbijpfdiadeo">Get Chrome Extionsion
      <div class="sp10"></div>
      <img src="/assets/chrome-ext.jpg">
      </a>
    </li>
    <br>
    <li>
      <a style="color:#ffffff;" href="https://chrome.google.com/webstore/detail/social-shade/logflbglfompolhfemknjbijpfdiadeo">Get Android Application
	<div class="sp10"></div>
	<img src="/assets/mapp.png" style="width:300px;border:1px solid #ffffff;">
      </a>
    </li>
    <li>Check <a href="/">socialshade.com</a> in few hours
      <div class="sp10"></div>
      <img src="/assets/5.png" style="border:1px solid #ffffff;">
      <img src="/assets/6.png" style="border:1px solid #ffffff;">
    </li>
  </ul>

  <div class="sp20"></div>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- SocialShade Banner ad1 -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:728px;height:90px"
       data-ad-client="ca-pub-3833946424381349"
       data-ad-slot="5732836094"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>      
  <div class="sp20"></div>
  <%= render(:partial => "footer_links") %>
  <div class="sp20"></div>
</center>

