<% if(@qu.present?) %>
<%= render(:partial => "answer_main") %>
<% else %>
<style>
  body { background: #ffffff; color: #3b3e45; }
</style>
<div style="width:100%">
  <% if(@mobile) %>
  <div class="lead p-10" style="font-size:1.5em;text-align:center;">
    <div class="sp10"></div>
    It's Open Questions and Answers platform
    <hr>
    It's completely Anonymous
    <hr>
    It's about all those question which you want to answer
    <hr>
    You can ask any question you have in you mind without hesitation
    <hr>
    It never ask for your login
    <hr>
    It's <b>SocialShade</b>
  </div>
  <div class="sp10"></div>     
  <div class="p-10">
    <a href="<%= answer_url(@next) %>" class="btn btn-4 btn-4a btn-lnk btn-d" style="font-size: 1.5em; width: 100%; margin: 0px; padding: 20px 30px;text-align:center;">Start&nbsp;Contributing</a>
  </div>
  <div class="sp20"></div>    
  <% else %>
  <%= render(:partial => "qheader") %>
  <center>
    <table>
      <tr>
	<td class="p-30 b-right">
	  <img src="/assets/3.jpg" style="width:300px;"/>
	</td>
	<td class="p-30 lead">
	  <div class="sp30"></div>
	  It's Open Questions and Answers platform
	  <div class="sp10"></div>
	  It's completely Anonymous
	  <div class="sp10"></div>
	  It's about all those question which you want to answer
	  <div class="sp10"></div>
	  You can ask any question you have in you mind without hesitation
	  <div class="sp10"></div>
	  It never ask for your login
	  <div class="sp10"></div>
	  It's <b>SocialShade</b>
	  <div class="sp50"></div>
	  <div class="sp10"></div>
	  <center>
	    <a href="<%= answer_url(@next) %>" class="btn btn-4 btn-4a btn-lnk btn-d" style="font-size:1em">Start&nbsp;Contributing</a>
	  </center>
	  <center style="font-size:20px;">
	    <div class="sp30"></div>
	    <%= render(:partial => "footer_links") %>
	    <div class="sp30"></div>  
	  </center>
	</td>
      </tr>
    </table>
  </center>
  <a href="<%= ask_url %>" class="ask-button" style="color:#04a466;right:30px;top:35px;" title="Add Question"><span class="fa fa-plus-circle"></span></a>
  <% end %>
</div>
<% end %>
