<%= render(:partial => "qheader") %>
<div class="codrops-header p-30" style="width:100%;text-align:center;">
  <div class="sp10"></div>
  <h1><%= @title %></h1>
  <hr style="width:50%;">
  <% for q in @qu %>
  <a href="<%= answer_url(q.id) %>" class="lead" style="font-size:25px;opacity:1;"><%= q.text %></a>
  <div class="sp10"></div>
  <span class="lead" style="font-size:14px;">
    <i class="fa fa-eye"></i>&nbsp;<%= q.views %>&nbsp;&nbsp;&nbsp;&nbsp;    
    <i class="fa fa-edit"></i>&nbsp;<%= q.ans %>&nbsp;&nbsp;&nbsp;&nbsp;
    <i class="fa fa-thumbs-up"></i>&nbsp;<%= (q.like.present?)? q.like : 0 %>&nbsp;&nbsp;&nbsp;&nbsp;
    <i class="fa fa-thumbs-down"></i>&nbsp;<%= (q.unlike.present?)? q.unlike : 0 %>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="<%= answer_url(q.id) %>"><i class="fa fa-pencil"></i>&nbsp;answer</a>
  </span>
  <hr style="width:20%;">
  <% end %>
  <div class="sp20"></div>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- SocialShade Banner ad1 -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:728px;height:90px"
       data-ad-client="ca-pub-3833946424381349"
       data-ad-slot="5732836094"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>      
  <div class="sp20"></div>
  <%= render(:partial => "footer_links") %>
  <div class="sp20"></div>
</div>
