<div class="codrops-header" style="width:100%;text-align:center;">
  <div class="sp30"></div>
  <h1><%= @title %></h1>
  <hr style="width:50%;">
  <% for q in @qu %>
  <a href="<%= answer_url(q.id) %>" class="lead" style="font-size:25px;opacity:1;"><%= q.text %></a>
  <div class="sp10"></div>
  <span class="lead" style="font-size:14px;">
    <i class="fa fa-eye"></i>&nbsp;<%= q.views %>&nbsp;&nbsp;&nbsp;&nbsp;    
    <i class="fa fa-edit"></i>&nbsp;<%= q.ans %>&nbsp;&nbsp;&nbsp;&nbsp;
    <i class="fa fa-thumbs-up"></i>&nbsp;<%= (q.like.present?)? q.like : 0 %>&nbsp;&nbsp;&nbsp;&nbsp;
    <i class="fa fa-thumbs-down"></i>&nbsp;<%= (q.unlike.present?)? q.unlike : 0 %>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="<%= answer_url(q.id) %>"><i class="fa fa-pencil"></i>&nbsp;answer</a>
  </span>
  <hr style="width:20%;">
  <% end %>
  <div class="sp20"></div>
  <a href="<%= root_path %>">Back to home</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<%= ask_url %>">Ask question</a>
  <div class="sp20"></div>
</div>
