<div class="sp100"></div>
<center>
  <span class="lead">To keep this session on different browser use this url</span>
  <div class="sp10"></div>
  <input type="text" value="<%= keep_profile_url(@uid) %>" style="text-align:center;height:60px;width:800px;font-size:30px;"/>
  <div class="sp30"></div>
  <a href="<%= root_path %>" class="btn btn-lg btn-success m-10">Answer Other Questions</a>
  <a href="<%= ask_url %>" class="btn btn-lg btn-danger m-10">Ask Your Question</a>
</center>

<div style="position:fixed;bottom:30px;right:30px;">
  <a href="https://play.google.com/store/apps/details?id=com.killermobi.socialshade">
    <img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />
  </a>
</div>
